
.home-title {
    margin: 0;
    font-size: 4em;
    text-align: center;
    background-color: #e2dada;
}



.container {
    margin: 0;
    padding: 0;
}

.content img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.content-con {
    display: flex;
    background-color: #6e6868;
    min-height: 100px;
}

.content-r {
    width: 50%;
}

.content-l  img{

    height: 500px;
    width: 100%;
}